body {
  background-color: pink;
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  color: white;
}

.sidebar li.active {
  background: white;
  border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: navy !important;
}

.sidebar li a {
  color: white;
}

.fa-mine {
  margin-right: 3px;
}

#side-nav {
  background-color: black;
  min-width: 270px;
  max-width: 270px;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
}
